{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2024,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "next/core-web-vitals"
      ],
      "plugins": ["@typescript-eslint", "prettier"],
      "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-extraneous-class": "error",
        "@typescript-eslint/no-shadow": "error",
        "@typescript-eslint/no-this-alias": "error",
        "@typescript-eslint/no-use-before-define": "error",
        "@typescript-eslint/no-unused-vars": "error",
        "no-alert":"error",
        "no-console": ["error", { "allow": ["log"] }],
        "no-const-assign": "error",
        "no-dupe-args": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-irregular-whitespace": "error",
        "no-magic-numbers": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-proto": "error",
        "no-unexpected-multiline": "error",
        "no-use-before-define": "off",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-spread": "error",
        "prefer-template": "error"
      }
    }
  